[user]
	email = felix.davidj@gmail.com
	name = David J Felix
[core]
	editor = vim
	autocrlf = input
[help]
	autocorrect = 1
[color]
	ui = true
[push]
	default = simple

[includif "gitdir:~/Programming/work"]
	path = ~/Programming/work/.gitconfig

