*
!/.zplugin/
!/.zplugin/update.sh
!/.zplugin/bin/
!/.zplugin/bin/*
!/.zplugin/bin/**
!/.zplugin/bin/**/*
!/.vim/
!/.vim/after/
!/.vim/after/ftplugin/
!/.vim/after/ftplugin/clojure.vim
!/.vim/after/ftplugin/go.vim
!/.vim/after/ftplugin/rust.vim
!/.vim/after/ftplugin/sls.vim
!/.vim/ftdetect/
!/.vim/ftdetect/rust.vim
!/.vim/ftdetect/sls.vim
!/.gitconfig
!/.gitignore
!/.vimrc
!/.zshrc
!/LICENSE.md
!/README.md
!/Brewfile
!/Programming/
!/Programming/work/
!/Programming/work/.gitconfig

